.productForm {

  input:focus, button:focus {
    outline: none;
  }

  *:focus {
    outline: none;
  }

  button {
    flex: 1;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    background: #307BFF;
    border-color: #307BFF;
    cursor: pointer;
    font-size: 16px;
  }

  input[type="text"]{width: 180px;}
}

.formSection{
  margin-bottom: 68px;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  
  label{
    margin-bottom: 4px;
  }

  input{
    background: #FFFFFF;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    padding: 7px;
    margin-bottom: 20px;
  }
}