@import '../../../styles/variables.scss';

.product {
    width: 100%;
}

.productName {
    margin-right: 58px;
}

.collapse{
    background-color: #f6f6f6;
}

.collapseHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 16px;
}

.collapseTitleContainer{
    display: flex;
    align-items: center;
}

.collapseActionsContainer{
    display: flex;
    align-items: center;
}

.collapseActions{
    & > button{
        margin-left: 16px;
        cursor: pointer;
        border: 2px solid $textColor;
        padding: 10px;
        border-radius: 50%;

        &:hover{
            border: 2px solid $mainColor;
            color: $mainColor;
        }
    }
}

.collapseBody{
    background-color: #fff;
    border: 2px solid #f6f6f6;
    padding: 24px 16px;
}

.collapsed{
    display: none;
}
